@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Barlow', sans-serif;
  font-weight: 450;
  line-height: 1.6;
}
.header-1 {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.container {
  width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.container .list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container .list {
  list-style-type: none;
}

.container .list-item {
  color: #000;
  text-decoration: underline;
  margin-left: 30px;
  padding: 10px 0;
}

.container ul li a {
  color: #000;
  font-size: 1.25rem;
}

/* Header 2 */

.container .header-2-list-group {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.container .header-2-list-group .logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .header-2-list-group .product-search {
  display: flex;
  position: relative;
  width: 600px;
  margin-left: 120px;
  margin-bottom: 7px;
}

.product-search-input {
  border: 2px solid #edf1f2;
  padding: 0 85px 0 12px;
  height: 44px;
  line-height: 44px;
  font-size: 1.6rem;
  outline: none;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  transition: border 0.3s ease-in;
}

.product-search-input:focus {
  border: 2px solid #dedede;
}

.product-search-input::placeholder {
  font-size: 1.3rem;
  padding: auto 15px;
  opacity: 0.4;
  font-family: inherit;
}

.product-search-button {
  height: 44px;
  width: 55px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  background-color: #51b549;
  line-height: 1.42857143;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  font-family: inherit;
}

.form-control {
  width: 100%;
}

.truck {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 2rem auto 0;
  text-decoration: none;
}

.truck p {
  font-size: 1.5rem;
  margin: 0 1rem 0 1.5rem;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 2rem auto 0;
  text-decoration: none;
}

.user p {
  font-size: 1.5rem;
  margin: 0 1rem;
}

.basket {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  text-decoration: none;
}

.basket p {
  font-size: 1.5rem;
  margin: 0 1rem;
}

.logo-user {
  width: 35px;
}

.logo-basket {
  width: 40px;
}

.logo-truck {
  width: 50px;
}

/* Categories */

.navbar {
  background-color: #185aa3;
  height: 56px;
  align-items: center;
  position: relative;
}

.navbar .container ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  height: 56px;
  justify-content: space-between;
}
.navbar .container ul li {
  height: 56px;
  border-right: 1px solid #7b99f1;
}

.navbar .container ul li:last-child {
  border: none;
}
.navbar .container ul li:hover,
.navbar .container ul li:hover > * {
  background-color: #fff;
  color: #185aa3;
  transform: scale(1.1);
}
.navbar .container ul li a {
  align-items: center;
  justify-content: center;
  height: 56px;
  font-size: 2rem;
  color: #fff;
  display: flex;
  text-decoration: none;
  align-items: center;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0 15px;
  position: relative;
}
.navbar .container ul li a span {
  font-size: 1.5rem;
}

.first {
  padding: 0 15px 0 0 !important;
}

.double {
  display: flex;
  flex-direction: column;
  text-align: left !important;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
}

.sub {
  text-decoration: none;
  font-size: 1.2rem !important;
  font-weight: 300;
  text-align: left;
  align-self: flex-start;
}

.double-2 {
  display: flex;
  flex-direction: column;
}

.sub-2 {
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  align-self: center;
}
